@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

.fontShadowInto {
  font-family: "Shadows Into Light", cursive;
}

#landingBg {
  background-image: url(../Images/landing_Bg.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 500px) {
  #landingBg {
    background-image: url(../Images/mobilelanding.jpg);
    background-repeat: no-repeat;
    height: 100vh;
  }
}
